* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #f0f2ea; }

.container {
  margin-left: 12.5%;
  margin-right: 12.5%; }

.float_right {
  float: right; }

.float_left {
  float: left; }

header .logo_image {
  margin-top: 40px;
  text-align: center; }
header .header_description {
  margin-top: 35px;
  margin-bottom: 45px;
  text-align: center;
  font-size: 18px;
  font-family: "Arial";
  color: #636758;
  text-transform: uppercase; }

section.main {
  background-color: #fff; }
  section.main .main_image {
    text-align: center; }
    section.main .main_image img {
      width: 100%; }
  section.main .best_articles {
    padding-left: 5%;
    padding-right: 5%; }
    section.main .best_articles .best_articles_description {
      display: block;
      font-size: 24px;
      font-family: "Arial";
      color: #484a43;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      padding-top: 50px;
      padding-bottom: 40px; }
    section.main .best_articles .top_posts {
      background-color: #fff; }
      section.main .best_articles .top_posts .post_mini {
        width: 45%;
        margin-bottom: 40px; }
      section.main .best_articles .top_posts .post_mini > img {
        margin-bottom: 20px;
        width: 100%; }
      section.main .best_articles .top_posts .post_mini_description_header {
        font-size: 18px;
        font-family: "Arial";
        color: #6d7e44;
        font-weight: bold;
        display: block;
        margin-bottom: 15px; }
      section.main .best_articles .top_posts .post_mini_description {
        font-size: 18px;
        font-family: "Arial";
        color: #333333; }
      section.main .best_articles .top_posts .post_big {
        padding-bottom: 80px; }
        section.main .best_articles .top_posts .post_big img {
          width: 100%;
          margin-bottom: 20px; }
      section.main .best_articles .top_posts .post_big_description_header {
        font-size: 18px;
        font-family: "Arial";
        color: #6d7e44;
        font-weight: bold;
        display: block;
        margin-bottom: 15px; }
      section.main .best_articles .top_posts .post_big_description {
        font-size: 18px;
        font-family: "Arial";
        color: #333333; }
    section.main .best_articles .top_posts:after {
      content: '';
      display: table;
      clear: both; }
  section.main .contact_information {
    padding-left: 5%;
    padding-right: 5%; }
    section.main .contact_information .service {
      margin-bottom: 40px; }
      section.main .contact_information .service .services_header {
        font-size: 18px;
        font-family: "Arial";
        color: #333333;
        font-weight: bold;
        margin-bottom: 15px; }
      section.main .contact_information .service .address, section.main .contact_information .service .support_centre, section.main .contact_information .service .website, section.main .contact_information .service .website a {
        font-size: 15px;
        font-family: "Arial";
        color: #333333;
        margin-bottom: 11px; }
      section.main .contact_information .service .website a {
        text-decoration: none;
        color: #6d7e44; }
    section.main .contact_information .community a {
      text-decoration: none;
      display: block;
      font-size: 16px;
      font-family: "Arial";
      color: #6d7e44;
      font-weight: bold;
      margin-bottom: 10px; }
    section.main .contact_information .community ul.social {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-bottom: 15px; }
    section.main .contact_information .community .social li {
      background: url("../image/sprite.png") no-repeat;
      display: inline-block;
      width: 24px;
      height: 24px; }
    section.main .contact_information .community .social .icon2 {
      background-position: -34px 0; }
    section.main .contact_information .community .social .icon3 {
      background-position: -68px 0; }
    section.main .contact_information .community .social .icon4 {
      background-position: -102px 0; }
  section.main .contact_information:after {
    content: '';
    display: table;
    clear: both; }

footer {
  text-align: center;
  font-size: 13px;
  font-family: "Arial";
  color: #333333;
  margin-top: 70px;
  margin-bottom: 55px; }
  footer a {
    color: #6d7e44;
    text-decoration: none; }

/*# sourceMappingURL=main.css.map */
